<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Navbar</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>ABOUT</title>
        <!-- link css -->
        <link rel="stylesheet" href="/static/style.css">

        <!-- custom font -->
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    </head>
    <body>
        <!-- Header section starts-->
         <header>
            <input type="checkbox" name="" id="toggler"
            <label for="toggler" class="fas fa-bars"></label>
            <a href="#" class="logo">WEBGIS<span>.</span></a>

            <nav class="navbar">
                <a href="/">Home</a>
                <a href="maps">Maps</a>
                <a href="about">About</a>
            </nav>
         </header>

        <section class="about" id="about">
            <h1 class="heading"> <span> About </span> Us </h1>
            <div class="row">

                <div class="content">
                    <h3>Kenapa Situs Ini Dibuat?</h3>
                    <p>Sering bingung nyari info museum di Bandung? Nah, di sinilah kami hadir. 
                        Situs ini tercipta dari keinginan untuk ngumpulin semua informasi museum di Bandung dalam satu tempat, 
                        biar kamu nggak pusing lagi nyari dan bisa langsung gas buat eksplor.</p>
                        
                </div>

                <img src="/images/test.png" height="300" width="500">

            </div>

        </section>
    
        <!-- icons section starts -->
        
        <section class="feature">
            <div class="feature-item">
                <i class="fas fa-map-marked-alt"></i> <!-- Peta Interaktif -->
                    <h3>Peta Interaktif</h3>
                    
            </div>
            <div class="feature-item">
                <i class="fas fa-info-circle"></i> <!-- Info Museum Lengkap -->
                    <h3>Info Museum</h3>
                    
            </div>
            <div class="feature-item">
                <i class="fas fa-search"></i> <!-- Pencarian Cepat -->
                    <h3>Pencarian Cepat</h3>
                    
            </div>
             <div class="feature-item">
                  <i class="fas fa-directions"></i> <!-- Navigasi Mudah -->
                     <h3>Navigasi Mudah</h3>
                    
            </div>
    
        </section>
        <!-- icons section ends -->


        <!-- Bar chart starts -->

        <section class="barr" id="barr">
            <h1 class="heading"> <span> Bar </span> chart </h1>
            <div class="row"></div>

                <div class="box-container">
                    <div class="box">

                    </div>
                </div>

                <div class="content">
                    <h3>Pentingnya Museum di Bandung: Jendela ke Masa Lalu yang Menginspirasi Masa Depan</h3>
                </di>

                <div class="description">
                    <p>Museum bukan hanya tempat untuk menyimpan artefak, tetapi juga menjadi sumber inspirasi dan edukasi bagi masyarakat. 
                        Di Kota Bandung, museum-museum berperan penting dalam menjaga sejarah dan budaya, 
                        sekaligus menjadi daya tarik wisata utama.</p>
                </div>  
                <div class="description">
                    <p1>Jumlah Museum Berdasarkan Jenis Di Bandung</p1>
                </div>
            
            <div class="container">
        <div class="chart-container">
            <div class="chart-item">

                <div class="bar">
                    <div class="bar-item" style="--barSize: 20" title="2"></div>
                </div>
                <div class="bar-label">Seni</div>
            </div>
            <div class="chart-item">
                <div class="bar">
                    <div class="bar-item" style="--barSize: 10" title="1"></div>
                </div>
                <div class="bar-label">Budaya</div>
            </div>
            <div class="chart-item">
                <div class="bar">
                    <div class="bar-item" style="--barSize: 20" title="2"></div>
                </div>
                <div class="bar-label">Seni & Budaya</div>
            </div>
            <div class="chart-item">
                <div class="bar">
                    <div class="bar-item" style="--barSize: 90" title="9"></div>
                </div>
                <div class="bar-label">Sejarah</div>
            </div>
            <div class="chart-item">
                <div class="bar">
                    <div class="bar-item" style="--barSize: 20" title="2"></div>
                </div>
                <div class="bar-label">Militer</div>
            </div>
            <div class="chart-item">
                <div class="bar">
                    <div class="bar-item" style="--barSize: 20" title="2"></div>
                </div>
                <div class="bar-label">Sains</div>
            </div>
            <div class="chart-item">
                <div class="bar">
                    <div class="bar-item" style="--barSize: 10" title="1"></div>
                </div>
                <div class="bar-label">Mainan</div>
            </div>
            <div class="chart-item">
                <div class="bar">
                    <div class="bar-item" style="--barSize: 10" title="1"></div>
                </div>
                <div class="bar-label">Pribadi</div>
            </div>
            <div class="chart-item">
                <div class="bar">
                    <div class="bar-item" style="--barSize: 10" title="1"></div>
                </div>
                <div class="bar-label">Pendidikan</div>
            </div>
    </div>
</section>
        <!-- Bar chart ends-->
    
        <section class="penjelasan">
            <div class="description">
                <p>Grafik batang tentang jumlah museum di Bandung berdasarkan jenisnya menggambarkan keragaman dan fokus dari museum-museum yang ada di kota ini. Dari data yang ada, terlihat bahwa museum dengan kategori sejarah menjadi yang paling dominan, diikuti oleh museum yang berfokus pada sejarah dan budaya. Kategori ini mencakup beberapa museum penting seperti Museum Geologi, Museum Sri Baduga, dan Museum Konferensi Asia-Afrika, yang menonjol dalam mendokumentasikan peristiwa sejarah serta budaya Sunda dan Indonesia secara lebih luas.</p2>
                <p>Selain itu, ada juga museum seni seperti Selasar Sunaryo Art Space yang menjadi wadah bagi seni kontemporer Indonesia, serta Amazing Art World yang menampilkan lukisan 3D interaktif. Museum-museum ini menarik pengunjung yang tertarik pada seni visual dan interaksi kreatif. Di sisi lain, kategori museum militer juga menempati posisi signifikan dengan Museum Mandala Wangsit Siliwangi sebagai salah satu destinasi penting yang menampilkan sejarah perjuangan militer di Indonesia.</p3>
                <p>Kehadiran museum dengan fokus yang bervariasi seperti museum sains, mainan, dan museum pribadi seperti Museum Nike Ardilla menunjukkan bahwa Bandung menawarkan pengalaman yang luas, dari ilmu pengetahuan hingga koleksi budaya populer. Ini memberikan gambaran bahwa Bandung tidak hanya menjadi pusat sejarah, tetapi juga tempat yang mendukung kreativitas, edukasi, dan pelestarian warisan budaya.</p4>
                <p>Secara keseluruhan, grafik ini memperlihatkan bahwa Bandung memiliki kekayaan dalam hal ragam museum, yang masing-masing memiliki karakteristik dan tujuan yang berbeda, baik untuk edukasi maupun rekreasi</p5>

        </div>
        </section>

    </body>

</html>