<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Navbar</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Link CSS -->
    <link rel="stylesheet" href="/static/style.css">
    <!-- Custom Font -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>
<body>
    <!-- Header section starts -->
    <header>
        <input type="checkbox" name="" id="toggler">
        <label for="toggler" class="fas fa-bars"></label>
        <a href="/" class="logo">WEBGIS<span>.</span></a>
        <nav class="navbar">
            <a href="/">Home</a>
            <a href="maps">Maps</a>
            <a href="about">About</a>
        </nav>
    </header>
    <!-- Header section ends -->

    <!-- Home section starts -->
    <section class="home" id="home">
        <div class="content">
            <h3>Yuk, Ngulik Museum Keren di Bandung!</h3>
            <span>"Eksplor Asik, Tanpa Ribet!"</span>
            <p>Selamat datang di Peta Museum Kota Bandung! Yuk, jelajahi kekayaan budaya dan sejarah kota ini lewat museum-museum keren yang tersebar di seluruh Bandung. Mulai dari seni, sejarah, hingga sains—semuanya bisa kamu temukan di sini. Cek peta interaktif kami untuk lihat museum terdekat, temukan informasi lengkapnya</p>
            <a href="maps" class="btn">Search Now <i class="fas fa-map-marker-alt"></i></a>
        </div>
        <!-- Ikon di bagian Home -->
        <div class="icon museum-icon">
            <i class="fas fa-archway"></i>
        </div>
    </section>
    <!-- Home section ends -->

    <!-- Contact section starts -->
    <section class="contact" id="contact">
        <div class="content">
            <h3>Contact Us</h3>
            <p>Have any questions or need support? Feel free to reach out to us!</p>
            <form action="mailto:your-email@example.com" method="post" enctype="text/plain">
                <input type="text" name="name" placeholder="Your Name" required>
                <input type="email" name="email" placeholder="Your Email" required>
                <textarea name="message" placeholder="Your Message" required></textarea>
                <button type="submit" class="btn">Send Message <i class="fas fa-envelope"></i></button>
            </form>
        </div>
        <!-- Ikon di bagian Contact -->
        <div class="icon">
            <i class="fas fa-comments fa-3x"></i>
        </div>
    </section>
    <!-- Contact section ends -->
</body>
</html>
